@tailwind base;
@tailwind components;
@tailwind utilities;


/* write your css here */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sh{
    box-shadow: -1px -1px white inset;
}

.glass{
/* From https://css.glass */
background: rgba(71, 80, 107, 0.29);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(71, 80, 107, 0.3);
}

.chex{
    background: url('./assets/Images/bghome.svg');
    
}

.insetShadow{
    box-shadow: 0px -1.1px rgba(255, 255, 255, 0.18) inset;
}